body{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #232323;
}
header {
	background: red;
}
nav{
	background: #102238;
}
main{
	display: table-row;
}
footer{
	background: #102238;
}
h1 {
	color: #102238;
}
h2{
	margin: 20px 0 30px 50px;
	text-align: left;
	font-size: 18px;
}
#sidebar{
	background: #375D81;
    display: table-cell;
    float: none;
}
#content{
	background: #f2f2f2;
    display: table-cell;
    float: none;
    padding: 0;
}
.container-eq-height{
	display: table;
	width: 100%;
}
.container-w{
	background: #fefefe;
	border-radius: 10px;
	margin: 15px;
	padding: 15px;
	box-shadow: 0px 0px 1px 0px #fff;
}
.container-full {
  margin: 0 auto;
  width: 100%;
}
.food img{
	width: 30px;
	height: 30px;
	display: inline-block;
	cursor: help;
	margin-right: 5px;
}
.slider-wrapper{
	position: relative;
	top: 3px;
    margin: 20px 0 10px 10px;
	width: calc(100% - 50px);
	display: inline-block;
}
.tabl-gen{
	font-size: 18px;
    letter-spacing: 0.9px;
    line-height: 32px;
    font-family: Roboto, sans-serif;
}
.tabl-gen .tabl-gen-num{
	font-size: 36px;
	font-weight: bold;
	display: block;
	padding: 10px;
}
.line-right{
	border-right: 1px solid #bdbdbd;
}
.main-color{
	color: #375D81;
}
#ingredients li{
	list-style: none;
	text-align: left;
	height: 30px;
}
#ingredients li > span{
	display: inline-block;
	font-size: 18px;
	text-align: center;
}
#ingredients li > span:nth-child(1){
	width: 80px;
}
#ingredients li > span:nth-child(2){
	width: 40px;
}
.color-success{
	color: #62b22e;
}
.color-warning{
	color: #f0ad4e;
}
.color-danger{
	color: #dd4b39;
}
#food-oxalates, #food-ratium, #food-quantity{
	font-weight: bold;
}
#food-oxalates-health i.fa-2x{
	position: relative;
	top: 5px;
	cursor: help;
}
#chart-container{
	width: 300px;
	height: 100px;
	margin: auto;
}
.fa-question-circle.color-success{
	cursor: help;
	font-size: 14px;
}
footer{
	color: #C4D7ED;
}
#footer-list{
	margin: 0;
}
#footer-list li{
	margin-right: 50px;
}
#copyright, #sources{
	display: inline-block;
}
#copyright{
	display: inline-block;
}
#sources ul{
	display: inline-block;
	margin: 0;
	padding: 0;
}
#sources ul li{
	display: inline-block;
	margin: 0;
	padding: 5px 5px 5px 15px;
}
.popover {
	z-index: 9999;
}